<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Hi <%= name %></h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, voluptatibus aspernatur. Facere eius maxime quod, veritatis ut animi deleniti vero cum. Nam cum, quia, animi perspiciatis cumque, sapiente impedit sit iste quod rerum culpa consequatur quisquam ex ipsam dicta quibusdam accusamus placeat illo nulla quasi laborum quo. Labore quis, nihil maxime veniam incidunt beatae est voluptates aliquid ducimus neque pariatur cupiditate voluptatum eaque aut autem optio sequi placeat perspiciatis officia laboriosam ullam error nulla sapiente! Possimus iure et, doloremque autem, mollitia quos illum a voluptatem hic ut numquam? Iure vitae possimus alias sint quia in officiis explicabo inventore dolore quas.</p>
</body>
</html>